.bookList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px;

  &_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .bookList_container {
    grid-template-columns: 1fr;
  }
}
