.formContainer {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: "0 0 10px rgba(0,0,0,0.1)";
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.form > .input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.form > .button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
