header {
  width: 100%;
  background-color: #f5f5f5;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
    > a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    > a:hover {
        color: #007bff;
    }
}
