header {
  background-color: #f5f5f5;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-auth,
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-auth > button,
.header a {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 1;
}

.header-auth > button::after,
.header a::after {
  content: "";
  position: absolute;
  background-color: red;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
  z-index: -1;
  
}

.header-auth > button:hover::after,
.header a:hover::after {
  width: 100%;
}
.header a.active::after {
  width: 100%;
  height: 2px; 
}
