.bookItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  gap: 0.5rem;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.05);
  border-left: 5px solid #007bff;

  > .author {
    background: pink;
    padding: 5px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
}

