.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;

  > input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea {
    height: 80px;
  }
}
