.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  .header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    box-shadow: 4px 4px 6px 6px rgb(228, 228, 228);
    padding: 10px;
    margin: 20px 0;
    border-radius: 12px;
    
    h2 {
      margin: 0;
    }

    button {
      padding: 8px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-size: 0.9rem;
      background-color: #007bff;
      color: white;
    }
  }
  .author {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;

      &_buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        > button {
          padding: 8px 16px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          font-size: 0.9rem;
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .authorsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }
}
