.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;

  &_button {
    border-radius: 12px;
    text-align: center;
    position: absolute;
    left: 20px;
   
    button {
      padding: 8px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-size: 0.9rem;
      background-color: #007bff;
      color: white;
    }

     :hover {
        transition: all 1s;
        background-color: #04ab69;
    }
  }
  .author {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;

      &_buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        > button {
          padding: 8px 16px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          font-size: 0.9rem;
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .authorsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;

     h2 {
      margin: 0;
      text-align: center;
    }

  }
}

@media (max-width: 1200px) {
  .homePage .authorsContainer {
    grid-template-columns: auto;
  }
}
